* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container div {
    display: flex;
    flex-grow: 1;
}

div {
    border: 1px solid black;
}